/* = Default project vars. */
:import {
  -st-from: "@actionishope/shelley/styles/default/project.st.css";
  -st-named: --spacing-unit;
}

/* = Shelley project scope and vars. */
:import {
  -st-from: "../styles/shelleyStarter/project.st.css";
  -st-default: ShelleyStarter;
  -st-named: --color-background-1, --color-ui;
}

.navbar {
  background: var(--color-background-1);
}

.title {
  text-decoration: none;
  display: inline-flex;
  /* margin-left: 27px; */
  text-transform: uppercase;
  font-weight: 400;
  letter-spacing: 10px;
  font-size: 14px;
  -webkit-font-smoothing: antialiased;
}

.controls {
  display: inline-flex;
  justify-content: flex-end;
}

.inner {
  padding: 0.8rem calc(var(--spacing-unit) * 3);
  /* background: rgba(76, 76, 76, 0.4392156862745098); */
  position: relative;
  display: flex;
  z-index: 1000;
  justify-content: space-between;
}

.footer {
  margin-top: 25vh;
  background: rgba(76, 76, 76, 0.4392156862745098);
}
