:import {
  -st-from: "@actionishope/shelley/styles/default/project.st.css";
  -st-named: --spacing-unit;
}

/* = Shelley project scope and vars. */
:import {
  -st-from: "../../styles/shelleyStarter/project.st.css";
  -st-default: ShelleyStarter;
  -st-named:
    --color-background-1, --color-ui;
}

/* = Root Component */
:import {
  -st-from: "../../components/Footer/footer.st.css";
  -st-default: Footer;
  -st-named: navItem;
}

:import {
  -st-from: "@actionishope/shelley/components/Text/text.st.css";
  -st-default: Text;
}

@st-scope ShelleyStarter {
  Footer {
    background: #111;
    min-height: 70px;
    margin-top: 30vh;
  }

  Footer::navList {
    padding: 0;
    margin: 0;
    display: flex;
    list-style: none;
  }

  Footer::navItem {
    list-style: none;
    padding: 20px;
    display: inline-block;
    -webkit-font-smoothing: antialiased;
    text-decoration: none;
    transition: background-color ease-in 100ms;
    border-color: transparent;
  }

  Footer::navItem:hover,
  Footer::navItem:focus {
    background-color: #222;
    border-color: transparent;
  }

  /* Address in Shelley. */
  Footer Text .navItem {
    color: #fff;
  }
}
